<h1>Assigned Trucks</h1>

<% if @assigned_trucks.any? %>
  <ul>
    <% @assigned_trucks.each do |drivers_truck| %>
      <li>
        <%= drivers_truck.truck.name %> (<%= drivers_truck.truck.truck_type %>) - Assigned on:
        <%= drivers_truck.assigned_date.present? ? drivers_truck.assigned_date.strftime("%B %d, %Y") : "Not assigned yet" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no trucks assigned to you.</p>
<% end %>


<h1>All Trucks</h1>

<% if @trucks.present? %>
  <% @trucks.each do |truck| %>
    <div class="truck">
      <h2><%= truck['name'] %></h2>
      <p>Type: <%= truck['truck_type'] %></p>

      <% if truck['image_url'].present? %>
        <img src="<%= truck['image_url'] %>" alt="<%= truck['name'] %> image" />
      <% else %>
        <p>No image available</p>
      <% end %>

      <p>Created at: <%= truck['created_at'] %></p>
      <p>Updated at: <%= truck['updated_at'] %></p>
<%= form_with url: assign_truck_path(truck['id']), method: :post, local: true do %>
  <%= hidden_field_tag :driver_token, session[:driver_token] %>
  <%= hidden_field_tag :truck_id, truck['id'] %>
  <%= hidden_field_tag :assigned_date, DateTime.now.to_s %>  <!-- Directly pass assigned_date -->
  <%= submit_tag 'Assign to this truck', class: 'btn btn-primary' %>
<% end %>




    </div>
  <% end %>

  <div class="pagination">
    <% if @current_page.to_i > 1 %>
      <%= link_to 'Previous', trucks_path(page: @current_page.to_i - 1) %>
    <% end %>

    <% if @current_page.to_i < @total_pages.to_i %>
      <%= link_to 'Next', trucks_path(page: @current_page.to_i + 1) %>
    <% end %>
  </div>
<% else %>
  <p>No trucks available.</p>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
